#{extends 'app.html' /}
#{set title:'Tâches' /}
#{set title_a:'Taches' /}

<div class="row">
  <div class="span12 tasks">
    <ul class="nav nav-tabs">
      <li><a href="@{Tasks.newTask()}"><i class="icon-pencil"></i> Nouvelle tâche</a></li>
      <li class="active"><a href="#inbox" data-toggle="tab"><i class="icon-list-alt"></i> Tâches à faire</a></li>
      <li><a href="#outbox" data-toggle="tab"><i class="icon-check"></i> Tâches effectuées</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active" id="inbox">
        <h2>Tâches à faire</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Niveau</th>
                    <th>Contenu</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                #{list items:tasks, as:'task'}
                <tr>
                    <td>${task.level}</td>
                    <td>${task.content}</td>
                    <td>
                      <a href="@{Tasks.delete(task.id)}" onclick="if (!window.confirm('Etes-vous sûr ? Cette action est définitive.')) return false;"><i class="icon-remove-sign"></i> Supprimer</a>
                      <br />
                      <a href="@{Tasks.done(task.id)}" onclick="if (!window.confirm('Etes-vous sûr ? Cette action est définitive.')) return false;"><i class="icon-ok"></i> Marquer effectué</a>
                    </td>
                </tr>
                #{/list}
            </tbody>
        </table>
      </div>
      <div class="tab-pane" id="outbox">
        <h2>Tâches effectuées</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Niveau</th>
                    <th>Contenu</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                #{list items:tasksDone, as:'task'}
                <tr>
                    <td>${task.level}</td>
                    <td>${task.content}</td>
                    <td><a href="@{Tasks.delete(task.id)}" onclick="if (!window.confirm('Etes-vous sûr ? Cette action est définitive.')) return false;"><i class="icon-remove-sign"></i> Supprimer</a></td>
                </tr>
                #{/list}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>