#{extends 'app.html' /}
#{set title:'Tâches' /}
#{set title_a:'Taches' /}

<div class="row">
  <div class="span12">
    <h2>Créer une tâche</h2>
    #{form @Tasks.newTask(), class:'form-horizontal well new-task-form'}
        <div class="control-group">
    	    <label class="control-label" for="level">Prix</label>
    	    <div class="controls">
                <input id="level" name="level" type="number" value="1">
    	    </div>
        </div>
        <div class="control-group">
    	    <label class="control-label" for="content">Description</label>
    	    <div class="controls">
            <textarea id="content" name="content" type="text" placeholder="Description"></textarea>
    	    </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Créer" id="create-task" />
        </div>
    #{/form}
  </div>
</div>