#{extends 'app.html' /}
#{set title:'Services' /}
#{set title_a:'Taches' /}

<div class="row">
  	<div class="span12">


  		<ul class="nav nav-tabs">
		    <li><a href="@{Tasks.index()}?tab=1"><i class="icon-pencil"></i> Nouveau service</a></li>
		    <li><a href="@{Tasks.index()}?tab=2"><i class="icon-list-alt"></i> Services</a></li>
		    <li><a href="@{Tasks.index()}?tab=3"><i class="icon-list-alt"></i> Commandes</a></li>
		    <li><a href="@{Tasks.index()}?tab=4"><i class="icon-list-alt"></i> Mes services</a></li>
		    #{if userConnected.isAdmin == 1}
		    <li><a href="@{Tasks.index()}?tab=5"><i class="icon-check"></i> Modération</a></li>
		    #{/if}
		    <li class="active"><a href="#viewtask" data-toggle="tab"><i class="icon-eye-open"></i> ${task.title}</a></li>
	    </ul>
	    <div id="myTabContent" class="tab-content">

	    	<div class="tab-pane active" id="viewtask">
		    	<h2>Service : ${task.title}</h2>
		    	<h3>Coût : ${task.level}</h3>
		        <div class="well">
		            <p>${task.content}</p>
		        </div>
		        <p><i>Proposé par :</i> ${owner_name}</p>
		        <p><i>Tags :</i> 
		            <ul class="inline-list">
		            #{list items:task.tags, as:'tag'}
                        <li>${tag}</li>
                    #{/list}
                    </ul>
                </p>
                <p><i>${task.participants_max} Participants :</i> 
		            <ul class="inline-list">
		            #{list items:listParticipants, as:'participant'}
                         <li><a href="@{Users.show(participant)}">${participant}</a></li>
                    #{/list}
                    </ul>
                </p>
		    </div>
            #{if userConnected.id != task.owner}
                #{if isMember == false}
                    #{form @Tasks.addAsParticipant()}
                        <input type="hidden" id="id" name="id" value="${task.id}">
                        <input type="submit" class="btn btn-primary" value="S'inscrire au service" id="askService" />
                    #{/form}
                #{/if}
                #{else}
                    #{if isMemberDone == false}
                    #{form @Tasks.participantDone()}
                        <input type="hidden" id="id" name="id" value="${task.id}">
                        <input type="submit" class="btn btn-primary" value="Service effectué" id="ServiceDoneParticipant" />
                    #{/form}
                    #{/if}
                #{/else}
            #{/if}
            #{else}
                #{if task.owner_done == false}
                #{form @Tasks.ownerDone()}
                    <input type="hidden" id="id" name="id" value="${task.id}">
                    <input type="submit" class="btn btn-primary" value="Service effectué" id="ServiceDone" />
                #{/form}
                #{/if}
            #{/else}
	    </div>


  		
	</div>
</div>