body {
	padding-top: 60px;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 3.4em;
  margin: 30px 0;
}

h2 {
  font-size: 2.0em;
  margin: 20px 0;
}

ul {
  list-style-type: none;
}

div#spacer {
    height: 20px;
}

.align-center {
	text-align: center;
}

.inline-list {
    display: inline;
}

.inline-list li {
    display: inline;
}

.navbar a {
  color: #ccc;
}

.navbar a:hover {
  color: #fff;
}

.navbar .pull-right {
    height: 50px;
    margin: 22px 0 -3px;
}

.navbar .pull-right .btn {
  margin-top: 0px;
}

.btn-orange{background-color:#e64d25;background-image:-moz-linear-gradient(top, #ed542C, #dc4322);background-image:-ms-linear-gradient(top, #ed542C, #dc4322);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ed542c), to(#dc4322));background-image:-webkit-linear-gradient(top, #ed542C, #dc4322);background-image:-o-linear-gradient(top, #ed542C, #dc4322);background-image:linear-gradient(top, #ed542C, #dc4322);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed542c', endColorstr='#dc4322', GradientType=0);border-color:#dc4322 #dc4322 #e64d25;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-orange:hover,.btn-orange:active,.btn-orange.active,.btn-orange.disabled,.btn-orange[disabled]{background-color:#dc4322;}
.btn-orange:active,.btn-orange.active{background-color:#000000 \9;}

.navbar .nav>li>a {
    line-height: 50px;
    width: 80px;
    text-align: center;
    color: #e5e5e5;
}

.navbar .brand {
	width: 130px;
	height: 50px;
	opacity: 1;
	background: url('../images/test.png') no-repeat 15px center;
}

.navbar .brand:hover {
	background-color: transparent;
}

.navbar .brand:active {
	opacity: .8;
}

.navbar #logout {
  margin-top: 10px;
  padding-left: 20px;
}

.navbar #logout + p {
  margin-top: 10px;
  color: #fff;
}

.hero-unit {
  margin-top: 50px;
  background-color: #e5e5e5;
}

.hero-unit + .row {
  margin-bottom: 20px;
}

small {
	padding-left: 10px;
}

.form-horizontal {
  margin: 0 auto;
  width: 800px;
  padding: 40px;
}

.feed .post {
  clear: both;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.feed .post-user {
  font-weight: bold;
}

.feed .post-date {
  font-size: 0.9em;
  color: #aaa;
  margin-left: 20px;
}

.feed .post-content {
  width: auto;
}

.addcontact-form, .searchcontact-form, .addgroup-form, .new-message-form, .new-task-form {
  margin: 0 auto 50px auto;
  padding: 40px 50px;
}

.addcontact-form {
  width: 300px;
}

.searchcontact-form {
  width: 300px;
}

.addgroup-form {
  width: 500px;
}

.new-message-form {
  width: 500px;
}

.new-task-form {
  width: 500px;
}

.contacts .search-query {
  width: 190px;
}

.groups #create-group {
  width: 220px;
}

.new-message-form #create-message {
  width: 220px;
}

.new-task-form #create-task {
  width: 220px;
}

.new-message-form textarea {
  width: 490px;
  height: 200px;
  margin: 0 auto;
}

.new-task-form textarea {
  height: 100px;
}

.new-message-form .form-actions {
  padding: 0;
  text-align: center;
}

.contacts .btn {
  width: 76px;
}

.contacts ul {
  list-style-type: none;
}

.signup-form input[type="reset"] {
  margin-top: -7px;
}

.signup-form, .edit-profile {
  width: 500px;
  padding: 40px 0;
}

.account-form {
  padding: 40px 50px;
  width: 400px;
}

.form-actions {
  border: 0;
  padding: 0;
  margin: 0;
}

.form-actions .btn:first-child {
  margin-right: 16px;
  margin-bottom: 7px;
}

.form-actions .btn {
  margin: 0;
  font-size: 1.2em;
  padding: 10px;
  width: 100px;
}

.form-actions a.btn {
  width: 78px;
}

.control-group {
  margin: 0 auto;
}

.profile-view table tbody tr td:first-child {
  width: 30%;
}

.profile-view table tbody tr td:last-child {
  width: 70%;
}

.profile-view .well {
  text-align: center;
}

input#day, input#month {
  width: 45px;
}

input#year {
  width: 92px;
}

input#update-profile {
  margin-top: 15px;
  width: 220px;
}

.group-view .member-list {
  margin-bottom: 30px;
}

.group-view .well a:first-child {
  width: 170px;
  margin-right: 15px;
}

.group-view .well a:last-child {
  width: 170px;
  margin-right: 0;
}

.post-wall-form textarea {
  width: 811px;
  margin-right: 15px;
}

.post-wall-form #post-wall {
  font-size: 1.5em;
  width: 100px;
  height: 46px;
}

.tasks table tr td:last-child {
  width: 140px;
}

.groups table tr td:last-child {
  width: 70px;
}

.wall table tr td:last-child {
  width: 70px;
}

.admin table tr td:last-child {
  width: 150px;
}

.dshbrd {
  background: #eee;
}

.dshbrd .row-fluid {
  margin: 0 0 30px;
}

.dshbrd .span4 {
  background: #fff;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.dshbrd h4 {
  border-bottom: 1px solid #eee;
  padding: 15px;
}

.dshbrd .pddng {
  padding: 15px;
}


footer {
	min-width: 940px;
	padding: 20px 0;
	border-top: 1px solid #eee;
	margin: 20px 0 0;
}