#{extends 'main.html' /}
#{set title:'Accueil' /}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" id="overview">
  <h1>Entraidez-vous</h1>
  <p>Students For Services est une plateforme innovante de mise en relation d'étudiants au sein d'une même école pour se partager des services.</p>
  <p><a class="btn btn-primary btn-large" href="#learnmore">Voir plus &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row" id="learnmore">
  <div class="span4 align-center">
    <h2>Exigence</h2>
    <p>S4S met un point d'honneur à ce que la plateforme reste de qualité. L'équipe de modération vérifie chaque service proposé pour une offre optimale destinée aux étudiants.</p>
  </div>
  <div class="span4 align-center">
    <h2>Solidarité</h2>
     <p>Coeur de S4S, le principe de partage de services entre les étudiants est encouragé. La plateforme est complètement utilisable de façon gratuite sur le simple principe du partage : rendre des services permet d'en obtenir en échange.</p>
 </div>
  <div class="span4 align-center">
    <h2>Proximité</h2>
    <p>Trouvez facilement et rapidement les services proposés par les étudiants de votre école ou université. Rapprochez vous d'eux et apprenez à les découvrir.</p>
  </div>
</div>
<br />
<hr id="about" />
<div class="row">
	<div class="span12" >
        <h2>A propos <small>Qui sommes-nous, que faisons-nous</small></h2>
		<div class="row">
	        <div class="span2 offset2">
	            <img src="@{'/public/images/gem.gif'}" alt="gem" />
	        </div>
	        <div class="span2 offset1">
	            <img src="@{'/public/images/efrei.png'}" alt="efrei" />
	        </div>
		    <div class="span2 offset1">
	            <img src="@{'/public/images/centrale.png'}" alt="centrale" />
	        </div>
	        <hr class="span8 offset2" />
	    </div>
		<p>Issus de différents parcours mêlant à la fois technologie et management dans 3 des plus grandes écoles françaises, l'équipe de S4S possède des compétences pour comprendre au mieux comment utiliser la technologie pour rendre service aux utilisateurs.</p>
	    <br />
	    <div class="row">
		    <div class="span4 offset4">
		        <img src="@{'/public/images/echange.jpg'}" />
		    </div>
		</div>
		<br />
	    <p>Avec un contexte d'économie drastique dans tous les domaines, les services aux personnes ou encore les simples coups de main deviennent de mise. Grâce à S4S, les étudiants d'une même école pourront entrer en contact entre eux pour pouvoir s'entraider. En utilisant les compétences de chacun (savoir se servir d'un tournevis, aller faire les courses, etc.), les étudiants auront accès à une large offre de services.</p>
	</div>
</div>
<hr />
<div class="row">
	<div class="span12" id="contact">
    <h2>Contact <small>Entrez en contact !</small></h2>
        <div class="row">
        <div class="span4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2628.647523107074!2d2.3640550000000093!3d48.788619100000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e673e24d38d875%3A0x1844f8017b72d434!2s30+Avenue+de+la+R%C3%A9publique!5e0!3m2!1sfr!2s!4v1392116080243"  height="250" frameborder="0" style="border:0"></iframe>
        </div>
		<div class="span4">
		    <form class="form" id="formContact">
                <div class="control-group">
                    <label class="control-label" for="name"></label>
                    <div class="controls">
                        <input class="span4" type="text" name="name" placeholder="Nom">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email"></label>
                    <div class="controls">
                        <input class="span4" type="text" name="email" placeholder="Adresse email">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="message"></label>
                    <div class="controls">
                        <textarea class="span6"rows="6" name="message" placeholder="Message"></textarea>
                    </div>
                </div>
                <button class="btn btn-large btn-success">Envoyer</button>
            </form>
        </div>
        </div>
        <p>Infos, bugs ou simplement pour discuter, n'hésitez pas à entrer en contact avec nous pour nous dire ce que vous avez à nous dire !</p>
        <br /><br />
	</div>
</div>
