<!DOCTYPE html>
<html lang="en">
  <head>
    <title>#{if title}#{get 'title' /} - #{/if}Connect2Pro</title>
    <meta charset="${_response_encoding}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

		#{stylesheet 'bootstrap.min.css' /}
		#{stylesheet 'main.css' /}
		#{get 'moreStyles' /}

    <link rel="shortcut icon" href="/public/images/favicon.png">
    <link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/images/apple-touch-icon-114x114.png">

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="@{Home.index}"></a>
          <div class="nav-collapse">
            <ul class="nav">
              #{if title == 'Contacts'}
              <li class="active"><a href="@{Users.contacts}">Contacts</a></li>
              #{/if}
              #{else}
              <li><a href="@{Users.contacts}">Contacts</a></li>
              #{/else}
              #{if title == 'Groupes'}
              <!--<li class="active"><a href="@{Groups.index}">Groupes</a></li>-->
              #{/if}
              #{else}
              <!--<li><a href="@{Groups.index}">Groupes</a></li>-->
              #{/else}
              #{if title == 'Messages'}
              <li class="active"><a href="@{Messages.index}">Messages</a></li>
              #{/if}
              #{else}
              <li><a href="@{Messages.index}">Messages</a></li>
              #{/else}
              #{if title_a == 'Taches'}
              <li class="active"><a href="@{Tasks.index}">Services</a></li>
              #{/if}
              #{else}
              <li><a href="@{Tasks.index}">Services</a></li>
              #{/else}
              #{if title == 'Mur'}
              <!--<li class="active"><a href="@{Wall.index}">Mur</a></li>-->
              #{/if}
              #{else}
              <!--<li><a href="@{Wall.index}">Mur</a></li>-->
              #{/else}
              #{if title_a == 'Preferences'}
              <li class="active"><a href="@{Settings.account}">Préférences</a></li>
              #{/if}
              #{else}
              <li><a href="@{Settings.account}">Préférences</a></li>
              #{/else}
              #{if userConnected && userConnected.isAdmin == 1}
              #{if title == 'Admin'}
              <li class="active"><a href="@{Admin.index}">Admin</a></li>
              #{/if}
              #{else}
              <li><a href="@{Admin.index}">Admin</a></li>
              #{/else}
              #{/if}
            </ul>
          </div><!--/.nav-collapse -->
          <p class="pull-right" id="logout"><a href="@{Secure.logout}">Déconnexion</a></p>
          #{if userConnected}
          <p class="pull-right">${userConnected.credits} Crédits - Identifié en tant que <a href="@{Users.show}">${userConnected.username}</a></p>
          #{/if}
        </div>
      </div>
    </div>

    <div class="container">
        <div id="spacer"></div>
        #{doLayout /}

    </div> <!-- /container -->
    <footer>
      <div class="container">
        <p class="pull-right"><a href="#">Retour en haut</a></p>
      	<p>&copy; S4S 2013</p>
	    </div>
    </footer>

    #{script 'jquery-1.7.1.min.js' /}
    #{script 'bootstrap.js' /}
    #{script 'main.js' /}
    #{get 'moreScripts' /}
  </body>
</html>
